<%- include("../partials/header") -%>
<main>
  <div class="home">
    <div class="farmerimg">
      <img src="https://www.pngall.com/wp-content/uploads/2017/11/Farmer.png" alt="">
    </div>
    <div class="info">
      <h2>welcome providers </h2>
      <p>Here we help you to choose proper crops depending upon the parameters 
        like soil-type , atmospheric temperature , water requirements , rainfall predictions and some other parameters.
        We do it by using your current location. 
      </p>
    
    
    <form  class="form" id="form" method="post" action="/result">
      <label for="values">Ground Water Source:</label>

      <select name="waterSource" id="values">
        <option value="poor">Poor</option>
        <option value="good">Good</option>
        <option value="vgood">Very Good</option>
      </select>
        <button class="btn btn-danger " id="find" type="submit">Show Suggestions</button>
    </form>
  </div>


  </div>
  <div id="demo"></div>
 

</main>

<%- include("../partials/footer") -%>